In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
movies = pd.DataFrame()

movies['duration'] = [193,120,79,110,93,107,122,95,129,117,112]

movies['boxoffice'] = [219,656,617,500,632,434,586,145,574,642,613]

movies['quality'] = [0,1,1,0,1,1,0,0,1,0,0]

movies

    duration  boxoffice  quality
0        193        219        0
1        120        656        1
2         79        617        1
3        110        500        0
4         93        632        1
5        107        434        1
6        122        586        0
7         95        145        0
8        129        574        1
9        117        642        0
10       112        613        0

In [3]:
duration = 193
boxoffice = 219

In [4]:
movies['finale'] = np.sqrt((movies['duration'] - duration)**2 + (movies['boxoffice'] - boxoffice)**2)

In [5]:
movies['duration'].min()

79

In [6]:
movies['duration'].max()

193

In [7]:
movies['quality'] != 0

0     False
1      True
2      True
3     False
4      True
5      True
6     False
7     False
8      True
9     False
10    False
Name: quality, dtype: bool

In [8]:
movies['quality'] != 5

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
Name: quality, dtype: bool

In [9]:
movies['quality'] != 1

0      True
1     False
2     False
3      True
4     False
5     False
6      True
7      True
8     False
9      True
10     True
Name: quality, dtype: bool

In [10]:
movies['boxoffice'] <= 300

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
Name: boxoffice, dtype: bool

In [11]:
def nearest_neighbor(duration, boxoffice):
    movies['finale'] = np.sqrt((movies['duration'] - duration)**2 + (movies['boxoffice'] - boxoffice)**2)
    minimum = movies['finale'].min()
    d = movies.loc[movies['finale'] == minimum, 'quality']
    return np.mean(d)

In [12]:
nearest_neighbor(120, 656)

1.0

In [13]:
nearest_neighbor(112, 613)

0.0